body {
    background: green;
    height: 200%
}

@media (min-width: 425px) {
    body {
        background: orange;
    }   
}

@media (min-width: 576px) {
    body {
        background: purple;
    }   
}

@media (min-width: 768px) {
    body {
        background: red;
    }   
}

@media (min-width: 992px) {
    body {
        background: blue;
    }   
}

@media (min-width: 1280px) {
    body {
        background: yellow;
    }   
}